.container {
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

  
}

.slide:hover .icon {
 stroke: #FFA90E !important;
}


.slide {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 15px;
 
}

.slide img {
  width: 100%;

  height: auto;

  border-radius: 10px 10px 0 0;
}

.slide p {
  /* margin-top: 10px; */
  font-size: 16px;
  font-weight: bold;
}
.btn_swipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prevButton,
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  border: 1px solid #fad084;
  font-size: 24px;
  padding: 15px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.customNavigation {
  display: flex;

  justify-content: center;
}
.rating {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding-left: 20px;
}
.rating::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  background: url('../../../assets//star.svg') no-repeat center;
  background-size: 100% auto;
  filter: invert(61%) sepia(99%) saturate(547%) hue-rotate(1deg)
    brightness(102%) contrast(101%);
}
.info {
  text-align: start;
  /* display: flex; */
  flex-direction: column;
  background-color: #141414;
  padding: 12px 15px 5px 15px;
  justify-content: center;
  height: 120px;
  min-height: 155px;
  border-radius: 0 0 12px 12px;
}
.link {
  max-width: 200px;


  
}

.icon{
   transition: fill 0.3s ease;
   
}

.rating_Container {
  font-size: 14px;
  display: flex;
  margin-top: 15px;

  gap: 5px;
  color: grey;
  justify-content: space-between;
}

.swiper_slide {
  padding-bottom: 55px;
}
.film_genres {
  color: #ffa500;
  font-size: 14px;
}
