.titleName {
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  margin-bottom: 20px;
}

.wrap {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

.content {
  display: flex;
  gap: 14px;
}

.imgMain {
  display: block;
  width: 156px;
  height: 221px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.descript {
  margin-top: 20px;
  min-width: 292px;
  max-width: 768px;
  max-height: 150px;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) #e0e0e0;
  margin-bottom: 20px;
}
.btn{
  width: 200px;
  color: #c7c7c7;
}

.textDescr {
  font-size: 14px;
  line-height: 24px;
  color: #c7c7c7;
}

@media (min-width: 768px) {
  .titleName {
    font-size: 40px;
    line-height: 50px;
  }

  .imgMain {
    width: 216px;
    height: 306px;
  }
}

@media (min-width: 1280px) {
  .wrap {
    padding-inline: 12px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  .titleName {
    font-size: 42px;
    margin-bottom: 34px;
  }

  .imgMain {
    width: 196px;
    height: 278px;
  }
}
