.ratingCont {
  margin-bottom: 15px;
  height: 24px;
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
}

.rating {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  position: relative;
  padding-left: 20px;
}

.rating::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  height: auto;
  background: url('../../assets/star.svg') no-repeat center;
  background-size: 100% auto;
  filter: invert(61%) sepia(99%) saturate(547%) hue-rotate(1deg)
    brightness(102%) contrast(101%);
}

.age {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #c7c7c7;
  font-family: 'Open Sans', sans-serif;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infoCont {
  display: flex;
  flex-direction: column;
}

.infoCont li {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #c7c7c7;
}

.infoCont span {
  margin-right: 5px;
  color: #a6a4a4;
}

.infoCont a {
  color: var(--accent-light-color);
  text-decoration: none;
  transition: color 0.3s;
}

.infoCont a:hover {
  color: var(--accent-color);
}

.actorsList {
  margin-top: auto;
}
