.form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form > .input {
  width: 180px;
  height: 46px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #3a3a3a;
  padding-inline: 20px 40px;
  background-color: #28282d;
  color: #fff;
  font-size: 14px;
}

.input::placeholder {
  color: #bbb9b9;
}

.btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 14px;
}

.btn svg {
  width: 20px;
  height: auto;
  fill: #bbb9b9;
}

@media (min-width: 1440px) {
  .form > .input {
    width: 226px;
  }
}
